src/mini-calliSignedSensor_nodered.json
[
  {
    "id": "8711b497.ff2bf8",
    "type": "serial in",
    "z": "55a12b51.62a324",
    "name": "",
    "serial": "815932dd.a0adf",
    "x": 130,
    "y": 300,
    "wires": [
      [
        "6c255133.a4a48",
        "a9b5b1bf.e6322"
      ]
    ]
  },
  {
    "id": "a9b5b1bf.e6322",
    "type": "function",
    "z": "55a12b51.62a324",
    "name": "parseMessage",
    "func": "msg.payload = new Buffer(msg.payload, \"hex\");\n\nif(msg.payload[0] == 0x01 && msg.payload[1] == 0xCE) {\n    if(msg.payload[6] == 0xd9) {\n        // data shorter than 256 byte\n        var parsed = {\n            \"payload\": {\n                \"raw\": msg.payload,  \n                \"id\": msg.payload.slice(2,6),\n                \"signature\": msg.payload.slice(8,72),\n                \"data\": String.fromCharCode.apply(null, msg.payload.slice(72))\n            }\n        };\n    } else {\n        // data longer than 256 byte\n        var parsed = {\n            \"payload\": {\n                \"raw\": msg.payload,  \n                \"id\": msg.payload.slice(2,6),\n                \"signature\": msg.payload.slice(9,73),\n                \"data\": String.fromCharCode.apply(null, msg.payload.slice(73))\n            }\n        };  \n    }  \n   \n    return parsed;   \n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 420,
    "y": 400,
    "wires": [
      [
        "8f61bf57.ccb1c"
      ]
    ]
  },
  {
    "id": "ef759559.45d7c8",
    "type": "debug",
    "z": "55a12b51.62a324",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1250,
    "y": 680,
    "wires": []
  },
  {
    "id": "6c255133.a4a48",
    "type": "function",
    "z": "55a12b51.62a324",
    "name": "filter MsgPack Data",
    "func": "data = new Buffer(msg.payload, \"hex\");\n\nif((data[0] == 0x00 || data[0] == 0x01) && data[1] == 0xCE) {\n    return msg;   \n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 390,
    "y": 120,
    "wires": [
      [
        "a67bb2f.e303f5"
      ]
    ]
  },
  {
    "id": "a67bb2f.e303f5",
    "type": "function",
    "z": "55a12b51.62a324",
    "name": "HEX decode",
    "func": "msg.payload = new Buffer(msg.payload, \"hex\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 650,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "88257b5f.9271b8",
    "type": "mqtt in",
    "z": "55a12b51.62a324",
    "name": "inbox-dev",
    "topic": "ubirch-dev/ubirch/devices/a57072da-ca0a-424e-ab9f-bd347e2de12c/processed",
    "qos": "1",
    "broker": "f0337422.edebf8",
    "x": 200,
    "y": 620,
    "wires": [
      [
        "ef759559.45d7c8"
      ]
    ]
  },
  {
    "id": "c58d4594.38e7f8",
    "type": "change",
    "z": "55a12b51.62a324",
    "name": "setConfig local",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "http://localhost:8080/api/avatarService/v1/device/update/mpack",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "ip",
        "pt": "msg",
        "to": "localhost",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "port",
        "pt": "msg",
        "to": "9090",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1100,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "c31f56c1.f01248",
    "type": "mqtt in",
    "z": "55a12b51.62a324",
    "name": "inbox-local",
    "topic": "local-dev/ubirch/devices/+/processed",
    "qos": "1",
    "broker": "321f8281.26a8de",
    "x": 200,
    "y": 500,
    "wires": [
      [
        "ef759559.45d7c8"
      ]
    ]
  },
  {
    "id": "caaa767d.6cb3c8",
    "type": "http request",
    "z": "55a12b51.62a324",
    "name": "post ubirch MsgPack",
    "method": "POST",
    "ret": "txt",
    "url": "",
    "tls": "",
    "x": 1100,
    "y": 360,
    "wires": [
      [
        "ef759559.45d7c8"
      ]
    ]
  },
  {
    "id": "70389259.6eef9c",
    "type": "mqtt in",
    "z": "55a12b51.62a324",
    "name": "inbox-demo",
    "topic": "ubirch-demo/ubirch/devices/95193c53-9dc4-442e-a321-794e9fdcc0dd/processed",
    "qos": "1",
    "broker": "fb769f5f.e2935",
    "x": 210,
    "y": 720,
    "wires": [
      [
        "ef759559.45d7c8"
      ]
    ]
  },
  {
    "id": "13b2efb4.9ff83",
    "type": "change",
    "z": "55a12b51.62a324",
    "name": "setConfig dev",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "https://api.ubirch.dev.ubirch.com/api/avatarService/v1/device/update/mpack",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "ip",
        "pt": "msg",
        "to": "34.248.246.47",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "port",
        "pt": "msg",
        "to": "6060",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1100,
    "y": 120,
    "wires": [
      [
        "caaa767d.6cb3c8"
      ]
    ]
  },
  {
    "id": "577bef1a.b34c1",
    "type": "change",
    "z": "55a12b51.62a324",
    "name": "setConfig demo",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "https://api.ubirch.demo.ubirch.com/api/avatarService/v1/device/update/mpack",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "ip",
        "pt": "msg",
        "to": "34.248.246.47",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "port",
        "pt": "msg",
        "to": "7070",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1100,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "d0c12f98.f4853",
    "type": "udp out",
    "z": "55a12b51.62a324",
    "name": "",
    "addr": "",
    "iface": "",
    "port": "",
    "ipv": "udp4",
    "outport": "",
    "base64": false,
    "multicast": "false",
    "x": 1110,
    "y": 300,
    "wires": []
  },
  {
    "id": "8f61bf57.ccb1c",
    "type": "function",
    "z": "55a12b51.62a324",
    "name": "hack (JsonToString)",
    "func": "data = JSON.parse(msg.payload.data);\n\n// uncomment one of the lines below to hack:\n\n//data.temp = 10;\n//msg.payload.data = JSON.stringify(data);\n\n//msg.payload.signature.write(\"HACKED\", 0);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 650,
    "y": 380,
    "wires": [
      [
        "1ff287d5.a20a68"
      ]
    ]
  },
  {
    "id": "1ff287d5.a20a68",
    "type": "function",
    "z": "55a12b51.62a324",
    "name": "rebuild",
    "func": "msg.payload = Buffer.concat([\n    msg.payload.raw.slice(0,8), \n    msg.payload.signature, \n    Buffer.from(msg.payload.data, \"utf-8\")\n]);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 890,
    "y": 260,
    "wires": [
      [
        "13b2efb4.9ff83",
        "2fd6012.5a7e1fe"
      ]
    ]
  },
  {
    "id": "2fd6012.5a7e1fe",
    "type": "delay",
    "z": "55a12b51.62a324",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 880,
    "y": 40,
    "wires": [
      [
        "13b2efb4.9ff83"
      ]
    ]
  },
  {
    "id": "815932dd.a0adf",
    "type": "serial-port",
    "z": "",
    "serialport": "/dev/cu.usbmodem1412",
    "serialbaud": "115200",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": false
  },
  {
    "id": "f0337422.edebf8",
    "type": "mqtt-broker",
    "z": "",
    "name": "ubirchDev",
    "broker": "mq.dev.ubirch.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": ""
  },
  {
    "id": "321f8281.26a8de",
    "type": "mqtt-broker",
    "z": "",
    "name": "localhost",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": ""
  },
  {
    "id": "fb769f5f.e2935",
    "type": "mqtt-broker",
    "z": "",
    "name": "ubirchDemo",
    "broker": "mq.demo.ubirch.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": ""
  }
]